[submodule "src/xarm_ros2"]
	path = src/xarm_ros2
	url = git@github.com:xArm-Developer/xarm_ros2.git
	branch = humble
[submodule "src/moveit2_tutorials"]
	path = src/moveit2_tutorials
	url = git@github.com:ros-planning/moveit2_tutorials.git
	branch = humble
